* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: 'Palette Mosaic', cursive; */
}

body {
  background-color: #F1BC31;
  font-family: sans-serif;
  font-size: 10px;
  width: 100%;
  min-height: 100vh;
}

/* [class ^="section-"] {
  background-color: yellowgreen;
  display: grid;
  place-items: center;
} */

.container {
  display: grid;
  height: 100vh;
  gap: 50px 20px;
  place-items: center; 
  grid-template-areas: 
  "A A A A    A A A A    A A A A"
  "B B B B    B B C C    C C C C "
  "D D D D    D D D D    D D D D"
  "E E E E    E E E E    E E E E "
  "F F F F    F F F F    F F F F";
}

.welcome, .multicolortext {
  grid-area: A;
  justify-self: center;
  /* background-color: #B22222; */
  font-family: 'Palette Mosaic', cursive;
  font-size: 60px;
  padding: 40px;
  margin: 30px;
  background-image: linear-gradient(to left, #7C0A02, #B22222, #E25822);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
 
.options {
  grid-area: B;
  background-color: #B22222;
  padding: 50px;
  border: 5px solid black;
  border-radius: 10px;
}

.food {
  grid-area: C;
  background-color: #B22222;
  padding: 50px;
  border: 5px solid black;
  border-radius: 10px;
}

.running-transactions {
grid-area: D;
background-color: #B22222;
color: #F1BC31;
padding: 25px;
border: 5px solid black;
border-radius: 10px;
text-align: center;
}

.payment {
grid-area: E;
background-color: #B22222;
padding: 50px;
border: 5px solid black;
border-radius: 10px;
text-align: center;
}

.ending-transactions {
grid-area: F;
background-color: #B22222;
padding: 50px;
border: 5px solid black;
border-radius: 10px;
text-align: center;
}

h3 {
  font-size: 2rem;
}

li {
  list-style: none;
  color: #F1BC31;
  padding: 20px;
}

h4 {
color: #F1BC31
}

